#nav_element {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

#nav_bar {
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #449dd1;
}

.background {
    background-color: #78C0E0;
    font-family: Tahoma;
}