#nav_element {
    display: inline-block;
    margin: 20px;
    font-size: 25px;
    color:#3943b7;
}

a:link {
    color:#3943b7;
}

a:visited {
    color:#3943b7;
}

#nav_bar {
    background-color: #449dd1;
}

#box {
    margin: 50px;
    height: 500px;
    background-color: black;
}

